

.is-overlay {
  align-items: center;
  justify-content: center;
  color: black;
  display: flex;
}

html {
    height:100%;
} 

#head-title {
    font-size: 45px !important;
}

#head-sub, #welcome{
    font-size: 25px !important;
}

.periwinkle{
    background-color: #e5e5ff !important;
}

.rose{
    background-color: #ffe5ef !important;
}

.white{
    color: white !important; 
}

.navbar-item:hover{
    color: #040047 !important;
}

.navy{
    background-color: #040047 !important;
}

#send-button, #receive-button{
    padding: 0 !important;
    border: none !important;
    background: none !important;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}